html { height: 80%; width: 100%; }
body {
  width: 100%; height: 100%;
  margin: 0; padding: 0; border: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px; line-height: 15px;
  background: #f2f2f2;
}
img { border: none; }
a { color: #8D0D19; }
a:hover { color: #1A446C; }

#white_top_bar {
	height: 120px; width: 100%; position:fixed; z-index: 4;
}

#header {
	height: 60px; width: 100%; position:fixed; z-index: 5;
	margin: 0; padding: 0; text-align: left;
  /*background: #1A446C; color: #D4E6F4;*/
}
#header h1 { font-size: 24px; padding: 1em; margin: 0;}

#main {
  position: relative;

	text-align: left;
	font-family: Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
	border: 0px solid #000000;
	height: 90%; width: 1000px;
	margin: 4; padding: 9;
	background: #f2f2f2;
}

#footer {
	/*border: 1px;*/
	height: 10px;
  margin: 0;
  padding: 15px;
  /*padding: 2em;*/
	position: absolute;
 	bottom:0; width: 100%;
	text-align: left;
	font-size: 12px;
	z-index: 5;
  background: #304f95;  color: #D4E6F4;
}

table {
  width: 100%;
}

#prezzo_di_spedizione {
  font-size: 20px;
}

#prezzo {
  padding: 15px;
  font-size: 40px;
}

#transport_div {
    width: 100%;
}
#transport_table {
  font-family: Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#transport_table td, #transport_table th {
    border: 0px solid #000000;
  	/*width:150px;*/
		height:25px;
    padding: 3px;
}

#documents_div {
    width: 100%;
}
#documents_table {
  font-family: Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#documents_table td, #documents_table th {
	text-align: center;
    border: 1px solid #000000;
	width:350px; height:25px;
    padding: 1px;
}

#answer {
	margin-left: 200;
	text-align: left;
  width: 100%;
}
