#white_top_bar {
	height: 120px; width: 100%; position:fixed; z-index: 4;
}
#header {
	height: 120px; width: 100%; position:fixed; z-index: 5;
	margin: 0; padding: 0; text-align: center;
  /*background: #094e7a; color: #D4E6F4;*/
}

#footer {
}


#answer {
	margin: 2;
	text-align: left;
  width: 100%;
}
