/*
Auto1 Blue    #304f95
Auto1 Orange  #ec7d44
*/

html { height: 80%; width: 100%; }
body {
  width: 100%; height: 100%;
  margin: 0px; padding: 0; border: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px; line-height: 15px;
  background: #f2f2f2;
}
img { border: none; }
a { color: #8D0D19; }
a:hover { color: #1A446C; }

#white_top_bar {
	height: 120px; width: 100%; position:fixed; z-index: 4;
}

#header {
	height: 60px;
  width: 100%;
  position:fixed;
  z-index: 5;
	margin: 0px;
  padding: 0;
  text-align: left;
  /*background: #1A446C;
  color: #D4E6F4;*/
}
/*#header h1 { font-size: 24px; padding: 1em; margin: 0px;}*/

#main {
  position: relative;
	text-align: left;
	font-family: Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
	border: 0px solid #000000;
	height: 700px;
  width: 1100px;
	margin-left: 4px;
  padding: 5px;
	background: #f2f2f2;
}

#footer {
	height: 10px;
  margin: 0px;
  padding: 15px;
	position: fixed;
 	bottom:0; width: 100%;
	text-align: left;
	font-size: 12px;
	z-index: 5;
  background: #304f95;  color: #D4E6F4;
}

table {
  width: 100%;
}

#prezzo_di_spedizione {
  font-size: 20px;
}

#prezzo {
  padding: 15px;
  font-size: 40px;
}


#oridest {
  margin-left: 20px;
  font-style: oblique;
	text-align: left;
  font-size: 140%;
}

#transport_div {
  width: 100%;
}
#transport_table {
  font-family: Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#transport_table td, #transport_table th {
  border: 0px solid #000000;
	/*width:150px;*/
	height:25px;
  padding: 3px;
}

#documents_div {
  /*height:250px;*/
	/*border: 2px solid #000000;*/
  width: 100%;
}
#documents_table {
  font-family: Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#documents_table th {
  background: #304f95; color: #D4E6F4;
  font-size: 110%;
  font-style: oblique;
	text-align: center;
  border: 2px solid #000000;
	width:350px; height:25px;
  padding: 1px;
}
#documents_table td {
	text-align: center;
  border: 2px solid #000000;
	width:350px; height:35px;
  padding: 1px;
}

#answer {
  font-size: 130%;
  line-height: 120%;
  /*padding: 7px;*/
  /*font-weight: bold;*/
  font-style: oblique;
	margin-left: 20px;
	text-align: left;
  width: 100%;
}

#got {
  font-weight: bold;
  color: #304f95;
}

#not {
  font-weight: bold;
  color: #ec7d44
}
